body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para la página de login */
.login-container {
    background-color: #001229;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px auto;
    border: 15px;
    text-align: center;
    font-family: system-ui;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #fff;
    font-family: system-ui;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
    justify-content: center;
  font-family: system-ui;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #123152;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    ransform: rotateY(360deg)
}

.login-container button:hover {
    transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);

  .login-container:hover::before {
  opacity: 2;
  transform: rotate(-45deg) translateY(100%);
}


}

.login-container p {
    margin-top: 15px;
    color: #777;
}

.login-container a {
    color: #fff;
    text-decoration: none;
}

.login-container a:hover {
    color: #cf5308;
    text-decoration: none;
}

header {
    background-color: #144b76;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Añadimos posición fija */
    top: 0; /* Se pega a la parte superior */
    left: 0; /* Se pega al lado izquierdo */
    width: 98%; /* Ocupa todo el ancho */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

header nav ul li {
    margin-left: 20px;
    transition: background-color 0.3s ease; /* Transición para el color de fondo del li */
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: unset; /* Añadimos esta línea para poner el texto en negrita */
}

header nav ul li a:hover {
    background-color: #e36610;
}

header nav ul li:hover a {
    color: white; /* O el color de texto que mejor contraste con el fondo */
}

main {
    flex-grow: 1;
    padding: 20px;
    padding-top: 80px; /* Añadimos padding para evitar que el contenido se oculte detrás del header fijo (ajusta según la altura de tu header) */
}

.dashboard-info {
    background-color: #144b76;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-info h2 {
    color: #333;
    margin-bottom: 10px;
}

.dashboard-info p {
    color: #555;
    margin-bottom: 10px;
}

.real-time {
    font-size: 1.2em;
    color: #777;
}

#content-frame {
    width: 100%;
    height: 500px; /* Ajusta la altura según necesites */
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: #144b76;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para la información del usuario en el header (lado derecho) */
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px; /* Cambiado a margin-left para espaciar del menú */
}

.user-info span {
    margin-left: 10px; /* Cambiado a margin-left */
}

.user-info button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Agregado margin-left */
}

.user-info button:hover {
    background-color: #c82333;
}

/* Estilos para el chat box */
.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color:#32833b;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    cursor: pointer;
}

.chat-body {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    display: flex;
    color: #fff;
    background-color: transparent;
    flex-direction: column;
}

.chat-body .bot-message {
    background-color: #32833b;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #32833b;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #001A38;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    margin-right: 5px;
}

.chat-input button {
    background-color: #001A38;
    color: white;
    font-size: 20px;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

